name: api-template

networks:
  api-template-network:
    name: api-template-network
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.10.0/24

services:
  api-template-app:
    image: api-template-app:latest
    container_name: api-template-app
    build:
      context: .
      dockerfile: docker/Dockerfile
      # target: development
      target: production
    networks:
      - api-template-network
    ports:
      - 8000:8000
    restart: "no"
    depends_on:
      api-template-redis:
        condition: service_healthy
      api-template-rabbitmq:
        condition: service_healthy
    security_opt:
      - no-new-privileges:true
    tty: true
    command: ["python", "-m", "app.__main__"]
    env_file:
      - .env
    environment:
      - RUN_MODE=api
      - PORT=8000
      - RELOAD=False

  api-template-worker:
    image: api-template-worker:latest
    container_name: api-template-worker
    build:
        context: api-workers
        dockerfile: Dockerfile
        target: production
        additional_contexts:
          api-shared: api-shared
    networks:
        - api-template-network
    restart: "no"
    depends_on:
      api-template-redis:
        condition: service_healthy
      api-template-rabbitmq:
        condition: service_healthy
    security_opt:
      - no-new-privileges:true
    tty: true
    command:
      - "python"
      - "-m"
      - "taskiq"
      - "worker"
      - "worker.broker:broker"
      - "--use-process-pool"
      - "--workers"
      - "${WORKER_COUNT:-5}"
      - "-fsd"
      - "-tp"
      - "src/worker/tasks/*.py"
    env_file:
      - .env
    environment:
      - RUN_MODE=worker

  ########## Taskiq Services ##########

  api-template-redis:
    image: redis:8
    container_name: api-template-redis
    restart: "unless-stopped"
    hostname: "api-template-redis"
    networks:
      - api-template-network
    ports:
      - "$REDIS_PORT:6379"
    command: redis-server --requirepass "${REDIS_PASS}"
    healthcheck:
      test: ["CMD", "redis-cli", "--no-auth-warning", "-a", "${REDIS_PASS}", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5

  api-template-rabbitmq:
    image: rabbitmq:4-management
    container_name: api-template-rabbitmq
    restart: "unless-stopped"
    hostname: "api-template-rabbitmq"
    networks:
      - api-template-network
    ports:
      - "$RABBITMQ_PORT:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: $RABBITMQ_USERNAME
      RABBITMQ_DEFAULT_PASS: $RABBITMQ_PASSWORD
      RABBITMQ_DEFAULT_VHOST: $RABBITMQ_VHOST
      RABBITMQ_DISK_FREE_ABSOLUTE_LIMIT: 2GB
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 30s
      timeout: 10s
      retries: 3

  api-template-taskiq-dashboard:
    image: ghcr.io/danfimov/taskiq-dashboard:latest
    container_name: api-template-taskiq-dashboard
    restart: "unless-stopped"
    networks:
      - api-template-network
    ports:
      - "$TASKIQ_DASHBOARD_PORT:8000"
    environment:
      TASKIQ_DASHBOARD__API__PORT: 8000
      TASKIQ_DASHBOARD__API__TOKEN: $TASKIQ_DASHBOARD_API_TOKEN
      TASKIQ_DASHBOARD__STORAGE_TYPE: sqlite
      TASKIQ_DASHBOARD__SQLITE__DSN: sqlite+aiosqlite:///taskiq_dashboard.db
    volumes:
      - ./docker/volumes/taskiq_dashboard/dashboard.db:/app/taskiq_dashboard.db
