name: api-template

networks:
  api-template-network:
    name: api-template-network
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.10.0/24

x-app-common: &app-common
  image: api-template-dev:latest
  build:
    context: .
    dockerfile: docker/Dockerfile
    target: development
  networks:
    - api-template-network
  restart: "no"
  tty: true
  develop:
    watch:
      # Sync the working directory with the `/app` directory in the container
      - action: sync
        path: .
        target: /app
        # Exclude the project virtual environment
        ignore:
          - .venv/

      # Rebuild the image on changes to the `pyproject.toml`
      - action: rebuild
        path: ./pyproject.toml
  env_file:
    - .env

services:
  api-template-head:
    <<: *app-common
    container_name: api-template-head
    ports:
      - 8000:8000
    command: ["uv", "run", "--module", "app.__main__"]
    environment:
      - INSTANCE_TYPE=HEAD

  api-template-worker:
    <<: *app-common
    container_name: api-template-worker
    command:
      - "uv"
      - "run"
      - "--module"
      - "taskiq"
      - "worker"
      - "app.worker.broker:broker"
      - "--use-process-pool"
      - "--workers"
      - "5"
      - "-fsd"
      - "-tp"
      - "[app/worker/tasks/*.py]"
    environment:
      - INSTANCE_TYPE=WORKER

  ########## Taskiq Services ##########

  redis:
    image: redis:8
    container_name: redis
    restart: "unless-stopped"
    hostname: "api-template-redis"
    networks:
      - api-template-network
    ports:
      - "$REDIS_PORT:6379"
    command: redis-server --requirepass "${REDIS_PASS}"
    healthcheck:
      test: ["CMD", "redis-cli", "--no-auth-warning", "-a", "${REDIS_PASS}", "ping"]
      interval: 1s
      timeout: 3s
      retries: 50

  rabbitmq:
    image: rabbitmq:4-management
    container_name: rabbitmq
    restart: "unless-stopped"
    hostname: "api-template-rabbitmq"
    networks:
      - api-template-network
    ports:
      - "$RABBITMQ_PORT:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: $RABBITMQ_USERNAME
      RABBITMQ_DEFAULT_PASS: $RABBITMQ_PASSWORD
      RABBITMQ_DEFAULT_VHOST: $RABBITMQ_VHOST
      RABBITMQ_DISK_FREE_ABSOLUTE_LIMIT: 2GB

  # kafka:
  #   image: apache/kafka:latest
  #   hostname: "api-template-kafka"
  #   environment:
  #     KAFKA_NODE_ID: "0"
  #     KAFKA_PROCESS_ROLES: "controller,broker"
  #     KAFKA_LISTENERS: "PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9094"
  #     KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka:9092,EXTERNAL://localhost:9094"
  #     KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT,PLAINTEXT:PLAINTEXT"
  #     KAFKA_CONTROLLER_QUORUM_VOTERS: "0@api_template-kafka:9093"
  #     KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
  #     KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
  #     KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: "1"
  #   # Uncomment it to connect from localhost.
  #   # ports:
  #   #   - 9094:9094
  #   healthcheck:
  #     test: kafka-topics.sh --list --bootstrap-server localhost:9092
  #     interval: 1s
  #     timeout: 3s
  #     retries: 30
